# QEMU MPS2 AN385 default configuration for Cortex-M.
CONFIG_ARCH_CORTEX_M=y
CONFIG_RUNTIME_AARCH32=y
CONFIG_DRIVER_CMSDK_APB_UART=y
CONFIG_PLATFORM_NAME="qemu/mps2-an385"
CONFIG_PLATFORM_QEMU=y
CONFIG_PLATFORM_QEMU_MPS2_AN385=y
CONFIG_QEMU_RAM_SIZE="16M"
