# Copyright (c) 2026 simple-boot contributors
# SPDX-License-Identifier: MIT
#
# File: boot/KConfig
# Brief: Define boot image generation.

config BOOT
    bool "Boot image"
    default y

source "boot/bl1/KConfig"
source "boot/bl2/KConfig"
