# Copyright (c) 2026 simple-boot contributors
# SPDX-License-Identifier: MIT
#
# File: driver/console/pl011/KConfig
# Brief: Define the PL011 console driver selection.

config DRIVER_PL011
    bool "PL011 console driver"
    depends on CONSOLE
    default n
