# QEMU virt RAM-boot configuration for AArch64.
CONFIG_ARCH=y
CONFIG_ARCH_AARCH64=y
CONFIG_ARCH_AARCH32=n
CONFIG_ARCH_CORTEX_M=n
CONFIG_LIBRARY=y
CONFIG_LIBC=y
CONFIG_RUNTIME=y
CONFIG_RUNTIME_AARCH64=y
CONFIG_RUNTIME_AARCH32=n
CONFIG_DRIVER=y
CONFIG_CONSOLE=y
CONFIG_DRIVER_PL011=y
CONFIG_DRIVER_CMSDK_APB_UART=n
CONFIG_PLATFORM=y
CONFIG_PLATFORM_NAME="qemu/virt"
CONFIG_PLATFORM_QEMU=y
CONFIG_PLATFORM_QEMU_VIRT=y
CONFIG_PLATFORM_QEMU_VIRT_SECURE=n
CONFIG_PLATFORM_QEMU_MPS2_AN385=n
CONFIG_SECURE_BOOT=n
CONFIG_QEMU_RAM_SIZE="128M"
CONFIG_QEMU_CPU_COUNT=1
CONFIG_GDB_PORT=1234
CONFIG_BOOT=y
