# Copyright (c) 2026 simple-boot contributors
# SPDX-License-Identifier: MIT
#
# File: arch/aarch32/KConfig
# Brief: Define AArch32 architecture selection.

config ARCH_AARCH32
    bool "AArch32 startup"
    depends on ARCH
    default n
