# Copyright (c) 2026 simple-boot contributors
# SPDX-License-Identifier: MIT
#
# File: cmake/KConfig
# Brief: Define common build configuration values.

config GDB_PORT
    int "Debug server port"
    default 1234
